/BaiTap_01/nbproject/private/
/BaiTap_01/build/
/BaiTap_02/nbproject/private/
/BaiTap_02/build/
/BaiTap05/nbproject/private/
/BaiTap05/build/
/BaiTap8/nbproject/private/
/ASM02/Q2/src/build/
/ASM02/Q2/src/dist/
/ASM02/Q2/src/nbproject/private/
